.container {
    display: flex;
    gap: 0.8rem;
    padding: 1rem;
    flex-direction: column;
    background: #f3f3f3;
    min-height: calc(100dvh - 140px);
    -webkit-tap-highlight-color: transparent;
    > button {
        gap: 0.5rem;
    }
    > * {
        background-color: white;
        cursor: pointer;
        height: 65px;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        //
        border-radius: 0.5rem;
    }
    button {
        border: 0;
        > svg {
            width: 23px;
            height: 23px;
        }
    }
    .switchAccountContainer {
        transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 inherit;
        box-shadow: 0 2px 2px rgba(58, 58, 58, 0.171);
        user-select: none;
        overflow: hidden;
        padding: 0;
        button {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
        }
        header {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            width: 100%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            h2 {
                flex: 1;
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: clamp(21px, 1vw, 20px);
            }
        }
        footer {
            width: 100%;
        }
        header,
        .content > li {
            padding-inline: 1rem;
        }
        .content {
            all: unset;
            display: flex;
            flex-direction: column;
            overflow: auto;
            flex: 1;
            width: 100%;

            li {
                list-style: none;
                display: flex;
                gap: 0.5rem;
                flex-direction: row;
                // align-items: flex-start;
                align-items: center;

                padding-block: 0.5rem;
                font-size: clamp(18px, 1vw, 20px);

                .info {
                    flex: 1;
                    p {
                        max-width: 50vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                > button {
                    color: rgb(0, 173, 0);
                    margin: auto 0;
                    background-color: transparent;
                    background: repeating-linear-gradient(45deg, #00ad0021, transparent 100px);
                }
                &:hover {
                    background-color: darken($color: white, $amount: 10);
                }
                &:active {
                    background-color: #eaeaea;
                    background-color: darken($color: white, $amount: 5);
                }
                img {
                    margin: auto 0;
                    width: 40px;
                    height: 40px;
                }
                div > * {
                    margin: 0;
                }
            }
        }
    }
    .item {
        box-shadow: 0 2px 2px rgba(58, 58, 58, 0.08);
        cursor: pointer;
        font-size: 18px;
        &:hover {
            background-color: #eaeaea;
        }
        &:active {
            opacity: 0.7;
        }
    }
    .logoutBtn {
        color: rgb(255, 67, 67);
        svg {
            color: rgb(255, 67, 67) !important;
        }
    }
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
    background-color: #f2f2f2;
}
