.container {
    background-color: white;
    padding: 0 1rem;
    > div:first-child {
        > button:first-child {
            margin-left: 0;
        }
        > button:active {
            animation: card 0.2s ease-in-out !important;
        }
        @keyframes card {
            0% {
                scale: 1;
            }
            50% {
                scale: 0.95;
            }
            100% {
                scale: 1;
            }
        }
    }
    & > .action button {
        margin: 0 8px;
        padding: 10px;
        height: initial;
    }
    button {
        flex: 1;
        height: 50px;
        border: 0;
        border-radius: 10px;
        // font-size: 18px;
        font-size: clamp(14px, 2.5vw, 25px);
    }
    .request,
    .suggest {
        .header {
            background-color: rgb(255, 255, 255);
            overflow: auto;
            gap: 20px;
            height: 65px;
            display: flex;
            align-items: center;
            margin: 0;
            p {
                margin: 0;
            }
            .length {
                color: red;
            }
        }
        .card {
            padding-block: 1rem;
            display: flex;
            flex: 1 1;
            align-items: center;
            gap: 20px;
            overflow: hidden;
            .profile {
                border-radius: 100%;
                object-fit: cover;
                outline: 1px solid #8080802b;
            }
            p {
                margin: 0;
            }
            .right {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 10px;
                .info {
                    // gap: 18px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > p:first-child {
                        max-width: 55vw;
                        width: 100%;
                        /* min-width: 100vw; */
                        overflow: hidden;
                        text-overflow: ellipsis;
                        flex: 1 1;
                        white-space: nowrap;
                    }
                    // width: 30vw;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // flex: 1;
                    // white-space: nowrap;
                    // }
                }
                .action {
                    gap: 10px;
                    display: flex;
                    .primary {
                        background-color: var(--blue-origin);
                        color: white;
                    }
                }
            }
        }
    }
}
