.loginForm {
    // justify-content: center;
    // align-items: center;
    // height: 100dvh;
    // display: flex;
}
.emailForm {
    // width: 327px;
    // min-width: 327px;
    // max-width: 327px;
    // max-width: 340px;

    // scroll-padding-left: 1rem;
    // scroll-padding-right: 1rem;
    // scroll-snap-align: center;
    // & > div:nth-child(2) {
    // > div:only-child & {
    //     display: none;
    // }
    // &:is(div:only-child) {
    //     display: none;
    // }
    &:has(> div:only-child) {
        justify-content: center;
        align-items: center;
        height: 100dvh;
        display: flex;
        // background-color: lavenderblush;
        background-color: #1c7ff3;
    }
    &:has(> div:not(:only-child)) {
        // background-color: red !important;
        height: auto;
        display: flex;
        gap: 1rem;
        min-width: 320px;
        max-width: 320px;
        overflow: scroll;
        scroll-behavior: smooth;
        border-radius: 1rem;
        scroll-snap-type: x mandatory;
    }
    > div {
        scroll-snap-align: start;
    }
    h2 {
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.4rem;
    }
    > *:not(h2) {
        padding: 1rem;
        background-color: white;
        border: 0;
        font-size: 0.9rem;
        font-size: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 320px;
    }
    > div > *:not(h2) {
        // padding: 0.8rem 1rem;
    }
    > div .nextForm {
        margin-left: auto;
        transition: all 0.1s ease-in-out;
        color: #222;
        padding: 0.5rem 1rem;
        background-color: var(--blue-origin);
        /* background: #eaeaea; */
        /* color: var(--blue-origin); */
        border: 0;
        color: white;
        font-size: 0.9rem;
        margin-top: auto;
        border-radius: 1rem;

        &:hover {
            // background-color: rgb(235, 235, 235);
        }
        &:active {
            // background-color: rgb(216, 216, 216);
            scale: 0.9;
        }
    }

    input {
        padding: 10px;
        font-size: 1rem;
        // font-size: 0.9rem;
        border: 0;
        color: initial;
        color: #7a7a7a;
        border-bottom: 1px solid rgba(189, 189, 189, 0.5);
        width: 100%;
        transition: border 0.3s ease-in;
        &:focus {
            color: initial;
        }
        &:focus-within {
            border-bottom: 1px solid rgb(0, 0, 0);
            outline: 0;
        }
    }
    .password {
        // position: relative;
        display: flex;
        flex-direction: column;
        /* flex: 1; */
        gap: 10px;
        transition: all 0.3s ease-in-out, border 0.3s ease-in;
        align-items: flex-end;
        box-shadow: initial;
        &:has(input:focus) input {
            border-bottom: 1px solid rgb(0, 0, 0);
            outline: 0;
            // border:0 0 1px solid black 0;
            // outline: -webkit-focus-ring-color auto 1px;
            // box-shadow: 0 0 5px rgb(69 69 69 / 50%);
        }
        &:has(input:focus) .passwordEye {
            // width: fit-content;
            width: 15%;
            // align-items: flex-end;
            // outline:1px solid black;
        }
        .passwordEye {
            display: block;
            // position: absolute;
            // top: 10px;
            // top: 15%;
            width: -webkit-fill-available;
            width: 100%;

            right: 1rem;
            color: var(--blue-origin);
            transition: all 0.3s ease-in-out;

            > div {
                background-color: #e8e8e8;
                padding: 10px;
                border-radius: 1rem;
                display: flex;
                &:active {
                    background-color: #c6c6c6;
                }
            }
        }
        input {
            outline: 0;
            &:focus {
                outline: 0;
                // align-items: initial;
                // @extend .input-focused;
                // display: none;
            }
            // &:focus {
            //   align-items: initial;
            // }
            // padding-right: 4rem;
        }
        // .input-focused {
        //   background-color: green;
        // }
    }
}
