.container {
    transition: transform 0.3s ease-in-out;
    height: 0;
    // padding: 1rem;
    // height: 100%;
    // .myPost > div {
    //     margin: 0.5rem 0;
    // }
    .info {
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        flex: 1;
        opacity: 1;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 10px;
        will-change: opacity;
        img,
        h3,
        p {
            cursor: default;
        }
        &:is(.active) * {
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }
        &:is(:not(.active)) * {
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }
        > h3 {
            padding: 0 1rem;
            text-align: center;
            cursor: default;
            margin-bottom: 18px;
        }
        .bio {
            margin-top: 0;
            font-size: 18px;
            padding: 0 1rem;
            text-align: center;
        }
        .editToggle {
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 10px;
            border: 0;
            padding: 10px;
            font-size: 18px;
            background-color: rgb(238, 238, 238);
            &:not(:active) {
                transition: initial;
            }
            &:active {
                // opacity: 0.5 !important;
                background-color:rgb(229 229 229);
                transition: initial;
            }
        }
        .editProfile {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            flex: 1;
            cursor: default;
            justify-content: center;
            align-items: center;
            padding-bottom: 1rem;
            > div {
                gap: 10px;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-inline: 1rem;
                max-width: 420px;
            }
            button {
                // padding:1rem;
                // width: 100%;
                height: 50px;

                // margin-block: 10px;
                // display: flex;
                // height: 50%;
                // display: flex;
                // flex: 1;
                // gap: 10px;
                background-color: transparent;
                border: 1px solid rgb(180, 180, 180);
                font-size: 1rem;
                border-radius: 10px;
                transition:
                    all 0.3s ease-in-out,
                    opacity 0.2s ease-in-out;
                &:nth-child(2) {
                    background-color: var(--blue-origin);
                    color: white;
                }
                &:active {
                    opacity: 0.5;
                    transition: initial;
                }
                &:first-child {
                    color: #f03547;
                    border-color: #f03547;

                    &:hover {
                        color: white;
                        background-color: red;
                        border: 0;
                        outline: 0;
                    }
                    &:active {
                        color: white;
                        background-color: red;
                        border: 0;
                        outline: 0;
                    }
                }
            }
            input {
                border: 1px solid rgb(180, 180, 180);
                outline: 0;
                padding: 20px 10px;
                border-radius: 10px;
                font-size: 1rem;
                justify-content: center;
                display: flex;
                // color: rgb(180, 180, 180);
                transition: all 0.2s ease-in-out;
                &:focus {
                    border: 1px solid black;
                }
            }
        }
    }
    .profile {
        border-radius: 50%;
        object-fit: cover;
    }
    .myPost {
        > div > div {
            margin: 0.5rem 0;
        }
        padding-bottom: 1rem;
        button {
            &:focus-visible {
                outline: 2px solid var(--blue-origin);
                border-radius: 100px;
            }
        }
        .active {
            background-color: gainsboro;
            opacity: 0.7;
            &:hover {
                color: black;
            }
        }
        header {
            background-color: white;
            padding: 1rem 0.8rem;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: default;
            position: sticky;
            top: 0;
            z-index: 100;
            h2 {
                margin: 0;
                display: flex;
                flex: 1;
            }
            > button {
                padding: 0;
                border: 0;
                background-color: transparent;
                font-size: 1rem;
                & > div {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    height: 45px;
                    width: 45px;
                    border-radius: 100px;
                    border: 0;
                    padding: 10px;
                    font-size: 1rem;
                    background-color: rgb(238, 238, 238);
                    &:hover {
                        background-color: rgb(216, 216, 216);
                    }
                    &:active {
                        opacity: 0.8;
                        scale: 0.9;
                    }
                    // &:focus-visible {
                    //     outline: 2px solid var(--blue-origin);
                    // }
                }
            }
        }
    }
}
