.container {
    padding: 1rem;
    background-color: white;
    text-align: center;
    height: 100%;
    .profile {
        border-radius: 50%;
        // width:150px;
        // height:auto;
    }
}
