.input {
    background-color: rgb(234, 234, 234);
    background-color: rgb(229, 229, 229);
    background: white;
    border-top: 1px solid #dfdfdf;
    position: fixed;
    bottom: 0;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: var(--main-width);
    gap: 10px;
    align-items: center;

    input,
    button {
        font-size: 1rem;
        border-radius: 1rem;
        border: 0;
    }
    button {
        background-color: transparent;
        color: var(--blue-origin);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-in-out;
        padding: 10px;
        svg {
            width: 25px;
            height: 25px;
        }
        &:active {
            scale: 0.9;
            background-color: #0269e242;
        }
    }
    input {
        padding: 0.5rem;
        flex: 1 1;
        min-width: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        outline: 1px solid rgb(213 213 213);
        &:focus-visible {
            outline: 0;
            outline: 1px solid rgb(191 191 191);
        }
    }
}
.info {
    display: flex;
    flex: 1 1;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    > a {
        overflow: hidden;
        p {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.chatHeader {
    display: flex;
    flex: 1 1 0%;
    gap: 0.5rem;
    align-items: center;
    overflow: hidden;
}
