.loadMore {
  background: black;
  border-radius: 0.5rem;
  color: white;
  border: 0;
  padding: 0.8rem 1rem;
  margin: 0 auto;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  font-size: 18px;
  margin: 1rem auto;
}

.container > div {
  margin: 0.5rem 0;
}

.sharePreview {
  -webkit-tap-highlight-color: rgba(0, 113, 243, 0.3);
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.sharePreview:active {
  opacity: 0.8;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.media > div {
  background-color: black;
  display: flex;
  width: 100%;
  position: relative;
}

.dialog {
  touch-action: none;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 0;
  padding: 0;
  height: 100%;
}
.dialog .indicator {
  display: none;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 100;
  z-index: 1000;
  width: 150px;
  height: 150px;
  border: 1px solid white;
}
@media (hover: hover) and (pointer: fine) {
  .dialog .indicator {
    display: block;
    visibility: visible;
    pointer-events: initial;
  }
}
.dialog .indicator > div {
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 100;
  z-index: 1000;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.3);
}
.dialog .viewContainer {
  height: 100%;
  width: 100vw;
  margin: 0;
  margin-left: auto;
  position: fixed;
  left: 0;
  inset: 0;
  color: gray;
}
.dialog .closeDialog {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: initial;
}
.dialog .closeDialog svg {
  color: white;
}
.dialog .closeDialog:focus-visible {
  outline: 0;
}
.dialog .closeDialog:active {
  opacity: 0.8 !important;
}
@media (hover: hover) and (pointer: fine) {
  .dialog .closeDialog:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.dialog img {
  background-color: black;
  display: block;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  margin: 0;
}
.dialog:focus-visible {
  outline: 0;
}
.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.dialog[open]::backdrop {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.preview {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}
.preview > div:not(:first-child) {
  min-width: 50%;
}
.preview img {
  display: flex;
  aspect-ratio: 16/9;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  margin: 0 auto;
}
.preview > div:not(:only-child) {
  aspect-ratio: 9/10;
}
.preview > div:first-child {
  min-width: 50%;
  flex: 1 0 50%;
  -o-object-fit: contain;
     object-fit: contain;
  background: black;
  position: relative;
  overflow: hidden;
  display: flex;
  min-width: 50%;
}
.preview > div:not(:first-child) {
  overflow: hidden;
}
.preview .backDrop {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: -webkit-fill-available;
  color: #e1e1e1;
  -webkit-backdrop-filter: brightness(0.6);
          backdrop-filter: brightness(0.6);
  margin: 0;
  font-weight: 400;
  color: white;
}

.socialCount {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--padding-inline);
  color: dimgray;
  padding-block: 5px;
  gap: 2vw;
}
.socialCount:active {
  background-color: #f1f1f1;
}
.socialCount :first-child {
  flex: 1;
}
.socialCount > p {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  display: flex;
  padding-top: 0;
  padding-block: 5px;
  font-size: 17px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.socialCount > p:active {
  opacity: 0.6;
}

.SocialUserDialog[open]::backdrop {
  opacity: 0;
  animation: fadeIn 0.5s forwards ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.SocialUserDialog[close]::backdrop {
  opacity: 0;
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.SocialUserDialog {
  font-size: 16px;
  width: clamp(500px, 20vw, 100vw);
  padding: 0;
  padding-block: 1em;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 0;
  overflow: hidden;
  z-index: 1000;
}
.SocialUserDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}
.SocialUserDialog .reactionContainer {
  overflow: scroll;
  background-color: rgb(255, 255, 255);
  max-height: 50vh;
  min-height: 50vh;
  width: 100%;
}
.SocialUserDialog .reactionContainer div > a {
  display: flex;
  align-items: center;
}
.SocialUserDialog .reactionContainer div > a p {
  padding: 0;
  margin: 0;
}
.SocialUserDialog .reactionContainer header {
  font-size: clamp(18px, 3vw, 23px);
  padding: 0.4rem 0.8rem;
  padding-inline: var(--padding-inline);
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgb(243, 243, 243);
}
.SocialUserDialog .reactionContainer header p {
  padding: 0;
  margin: 0;
  flex: 1;
  margin-block: auto;
}
.SocialUserDialog .reactionContainer header button {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
}
.SocialUserDialog .reactionContainer header button:focus-visible {
  border: 0;
  outline: 0;
}
.SocialUserDialog .reactionContainer header button:active {
  opacity: 0.5;
}

.item {
  width: 100%;
  border-radius: 0;
  border: 0px solid rgba(0, 112, 243, 0.0705882353);
  cursor: initial;
  outline: initial;
  pointer-events: initial;
  -webkit-user-select: initial;
     -moz-user-select: initial;
          user-select: initial;
  overflow: initial;
  transition: all 0.3s ease-in-out;
  background-color: rgb(253, 253, 253);
  position: relative;
}
.item:only-child .action {
  border-bottom: 0;
}
.item .dot {
  transition: all 0.3s ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .item .dot:hover {
    background-color: rgb(231, 231, 231);
  }
}
.item .dot:active {
  opacity: 0.5;
  scale: 1.1;
  background-color: rgb(231, 231, 231);
}
.item .dot:focus-visible {
  color: var(--blue-origin);
  transition: all 0.3s ease-in-out;
}
.item .seeMore {
  margin: 0 10px;
  font-size: 16px;
  background: transparent;
  border: 0;
  color: dimgray;
  font-family: system-ui;
  white-space: initial;
}
.item .text {
  padding: 0 0.8rem;
  margin: 0;
  margin-block: 0.5rem 1rem;
  outline: 0;
  cursor: default;
  word-break: break-word;
  white-space: pre-line;
  /* margin-block: 10px 20px; */
  /* padding-bottom: 0; */
  /* margin-bottom: 15px; */
  margin-bottom: 0.5rem;
}
.item .text a {
  color: var(--blue-origin);
}
.item .text a:hover {
  text-decoration: underline;
}
.item > p:active {
  background-color: rgb(207, 207, 207);
}

.share {
  pointer-events: none;
  cursor: pointer;
  outline: 1px solid #e3e3e3;
}

.selected {
  pointer-events: none;
  cursor: pointer;
  overflow: hidden;
}

.checked {
  border-radius: 50px;
  border: 10px solid rgba(0, 112, 243, 0.0705882353);
}

.deletePhoto,
.closeDialog {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 100px;
  background-color: white;
  border: 0;
  transition: all 0.15s ease-in-out;
  box-shadow: 0px 4px 8px 0px rgba(128, 128, 128, 0.4);
}
.deletePhoto > *,
.closeDialog > * {
  color: red;
  opacity: 0.8;
}
.deletePhoto:active:not(.closeDialog),
.closeDialog:active:not(.closeDialog) {
  width: 100px;
  opacity: 0.8;
  background-color: rgb(241, 241, 241);
}
@media (hover: hover) and (pointer: fine) {
  .deletePhoto:hover:not(.closeDialog),
  .closeDialog:hover:not(.closeDialog) {
    background-color: rgb(228, 228, 228);
    background-color: rgb(241, 241, 241);
  }
}

.header {
  padding: 0.8rem var(--padding-inline);
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.header:has(.authorInfo:active) {
  background-color: #ededed;
}
.header .authorInfo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex: 1;
  gap: 8px;
}
.header .authorInfo .moreInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .authorInfo .moreInfo .date {
  color: dimgray;
}
.header .authorInfo .moreInfo span {
  display: flex;
}
.header .authorInfo .name,
.header .authorInfo img {
  cursor: pointer;
}
.header .authorInfo .name {
  font-size: 18px;
  margin-bottom: 2px;
}
.header .authorInfo .name > span {
  font-weight: 500;
}
.header .authorInfo .name > span:is(:active, :hover) {
  text-decoration: underline;
}
.header .authorInfo > div > :last-child {
  color: #4e4e4e;
  font-size: 15px !important;
}
.header .authorInfo p,
.header .authorInfo span {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.header .authorInfo p > svg,
.header .authorInfo span > svg {
  color: #a3a3a3;
  font-size: 13px;
}
.header > button {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  border-radius: 100px;
  border: 0;
  color: gray;
  background-color: transparent;
}
.header .check {
  color: #15d900;
  background-color: rgba(16, 250, 16, 0.1490196078);
}

.actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1rem;
  top: 60px;
  width: clamp(150px, 50%, 180px);
  border-radius: 1rem;
  overflow: hidden;
  padding-block: 0.7rem;
  background-color: rgb(241, 241, 241) !important;
  z-index: 200;
  box-shadow: 0 5px 12px rgba(136, 135, 135, 0.5);
}
.actions .active {
  color: var(--blue-origin);
}
.actions > button {
  color: rgb(29, 8, 8);
  background-color: rgb(241, 241, 241) !important;
  font-size: 1rem;
  border: 0;
  display: flex;
  gap: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.02s ease-in-out;
  text-align: left;
}
.actions > button > svg {
  width: 20px;
}
.actions > button:hover {
  background-color: var(--blue-origin) !important;
  color: white;
}
.actions > button:hover svg {
  color: white;
}
.actions > button:active {
  opacity: 0.5;
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0;
  background-color: rgb(221, 221, 221);
  margin: initial !important;
}

.action {
  display: flex;
  justify-content: flex-end;
  position: relative;
  border-top: 1px solid #e4e4e4;
}
.action .socialButton {
  transition: color 0.2s ease-in-out;
}
.action .socialButton:active {
  opacity: 0.6;
}
.action .socialButton .active {
  transition: color 0.2s ease-in-out;
  color: var(--blue-origin);
}
.action .socialButton .active svg {
  transition: color 0.2s ease-in-out;
  color: var(--blue-origin);
}
.action svg {
  font-size: 18px;
  color: rgb(39, 39, 39);
}
.action > div {
  background-color: white !important;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 55px;
  border: none;
  transition: background-color 0.2s ease;
}
@media only screen and (hover: hover) and (pointer: fine) {
  .action > div:has(:hover) > button {
    background-color: rgb(221, 221, 221) !important;
  }
}
.action > div:has(:active) > button {
  opacity: 0.6;
}
.action > div > button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 55px;
  border: none;
  background-color: white !important;
}
.action p {
  margin-left: 0.4rem;
  font-size: clamp(1em, 2.5vw, 1.2em);
}
.action > button:active {
  background-color: rgb(207, 207, 207);
}
@media (hover: hover) and (pointer: fine) {
  .action > button:hover {
    background-color: rgb(207, 207, 207);
  }
}/*# sourceMappingURL=index.module.css.map */