@import "../../styles/mixins";
.container {
    > div {
        margin: 0.5rem 0;
    }
}
.sharePreview {
    -webkit-tap-highlight-color: rgba(0, 113, 243, 0.3);
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    // margin: 0 auto 1rem;
    &:active {
        opacity: 0.8;
    }
}
.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    // border-bottom: 1px solid rgb(235, 235, 235);
    > div {
        background-color: black;
        display: flex;
        width: 100%;
        position: relative;
    }
}
.dialog {
    touch-action: none;
    opacity: 0;
    user-select: none;
    border: 0;
    padding: 0;
    height: 100%;
    .indicator {
        display: none;
        visibility: hidden;
        pointer-events: none;
        @include mouse() {
            display: block;
            visibility: visible;
            pointer-events: initial;
        }
        // .mask {
        //     // -webkit-mask-size: cover;
        //     // mask-size: cover;
        //     // -webkit-mask-image: url("https://cdn.glitch.com/04eadd2b-7dd4-43fc-af3d-cff948811986%2Fstar-mask-gradient.png?v=1597757011489");
        //     // : url("https://cdn.glitch.com/04eadd2b-7dd4-43fc-af3d-cff948811986%2Fstar-mask-gradient.png?v=1597757011489");
        // }
        > div {
            position: absolute;
            top: 0;
            right: 0;
            position: fixed;
            right: 1rem;
            top: 1rem;
            z-index: 100;
            z-index: 1000;
            width: 150px;
            height: 150px;
            border: 1px solid white;
            background-color: rgba(255, 255, 255, 0.3);
            // background-color: rgba(0, 0, 0, 0.5);
            // background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            // background-clip: padding-box;
            //             -webkit-mask-image: linear-gradient(transparent, black); /* For webkit-based browsers */
            //   mask-image: linear-gradient(transparent, black); /* For other browsers */
        }
        position: absolute;
        top: 0;
        right: 0;

        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 100;
        z-index: 1000;
        width: 150px;
        height: 150px;
        border: 1px solid white;
    }
    .viewContainer {
        height: 100%;
        width: 100vw;
        margin: 0;
        margin-left: auto;
        position: fixed;
        left: 0;
        inset: 0;
    }
    .closeDialog {
        width: 40px;
        height: 40px;
        position: fixed;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: initial;
        svg {
            color: white;
        }
        &:focus-visible {
            outline: 0;
        }
        &:active {
            opacity: 0.8 !important;
        }
        @include mouse() {
            &:hover {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
    img {
        background-color: black;
        display: block;
        max-width: 100%;
        object-fit: contain;
        height: 100%;
        margin: 0;
        // transition: all 0.3s ease-in-out;
    }
    &:focus-visible {
        outline: 0;
    }
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    &[open]::backdrop {
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}
.preview {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    > div:not(:first-child) {
        min-width: 50%;
        // min-height: 196px;
    }
    img {
        display: flex;
        aspect-ratio: 16/9;
        object-fit: contain;
        // object-fit: cover;
        max-width: 100%;
        margin: 0 auto;
    }
    > div:not(:only-child) {
        aspect-ratio: 9/10;
    }

    & > div:first-child {
        min-width: 50%;
        flex: 1 0 50%;
        object-fit: contain;
        background: black;
        position: relative;
        overflow: hidden;
        display: flex;
        min-width: 50%;
        // aspect-ratio: 9/10;
    }
    // & > div img:only-child {
    //     aspect-ratio: 9/10;
    // }
    & > div:not(:first-child) {
        overflow: hidden;
    }
    .backDrop {
        pointer-events: none;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: -webkit-fill-available;
        color: #e1e1e1;
        backdrop-filter: brightness(0.6);
        margin: 0;
        font-weight: 400;
        color: white;
    }
}
.socialCount {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.8rem;
    color: dimgray;
    padding-block: 5px;
    .shareCount {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        padding-top: 0;
        padding-block: 5px;
        font-size: 18px;
    }
}
.post {
    width: 100%;

    &:only-child {
        .action {
            border-bottom: 0;
        }
    }
    background-color: rgb(253, 253, 253);
    // margin: 0.5rem 0;
    position: relative;
    cursor: default;
    // overflow: hidden;
    transition: all 0.3s ease-in-out;
    // aspect-ratio: 16/9;
    .dot {
        transition: all 0.3s ease-in-out;
        @include mouse() {
            &:hover {
                background-color: rgb(231, 231, 231);
            }
        }
        &:active {
            opacity: 0.5;
            scale: 1.1;
            background-color: rgb(231, 231, 231);
        }
        &:focus-visible {
            color: var(--blue-origin);
            transition: all 0.3s ease-in-out;
        }
    }
    // transition: border 0.2s ease-in-out, borderRadius 0.2s ease-in-out;
    .seeMore {
        margin: 0 10px;
        font-size: 16px;
        background: transparent;
        border: 0;
        /* font-weight: bold; */
        color: dimgray;
        font-family: system-ui;
        white-space: initial;
    }
    .text {
        padding: 0 0.8rem;
        margin: 0;
        margin-block: 0.5rem 1rem;
        outline: 0;
        cursor: default;
        word-break: break-word;
        white-space: pre-line;
        /* margin-block: 10px 20px; */
        /* padding-bottom: 0; */
        /* margin-bottom: 15px; */
        margin-bottom: 0.5rem;
        a {
            color: var(--blue-origin);
            &:hover {
                text-decoration: underline;
            }
        }
        // --max-lines: 5;
        // overflow: hidden;

        // display: -webkit-box;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: var(--max-lines);
        // &::before {
        //     content: "";
        //     position: absolute;
        //     height: calc(2em * var(--line-height));
        //     width: 100%;
        //     bottom: 0;
        //     pointer-events: none;
        //     background: linear-gradient(to bottom, transparent, white);
        // }
    }
    .header {
        padding: 15px 0.8rem 6px;
        margin: 0;
    }
    > p:active {
        background-color: rgb(207, 207, 207);
    }
}
.deletePhoto,
.closeDialog {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 100px;
    background-color: white;
    border: 0;
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 4px 8px 0px #80808066;
    > * {
        // color: var(--blue-origin);
        color: red;
        opacity: 0.8;
    }
    &:active:not(.closeDialog) {
        width: 100px;
        opacity: 0.8;
        // background-color: rgb(228, 228, 228);
        background-color: rgb(241, 241, 241);
    }
    @include mouse() {
        &:hover:not(.closeDialog) {
            background-color: rgb(228, 228, 228);
            background-color: rgb(241, 241, 241);
        }
    }
}
.header {
    padding: 15px 0.8rem 6px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    &:has(.authorInfo:active) {
        background-color: rgb(207, 207, 207);
    }
    .authorInfo {
        .date {
            color: dimgray;
        }
        .name,
        img {
            cursor: pointer;
        }
        .name {
            // &:is(:active, :hover) {
            //     text-decoration: underline;
            // }
            > span:is(:active, :hover) {
                text-decoration: underline;
            }
            font-weight: 500;
            font-size: 18px;
            // gap: 8px;
        }
        user-select: none;
        display: flex;
        flex: 1;
        gap: 0.5rem;
        // align-items: center;
        > div > :last-child {
            color: #4e4e4e;
            font-size: 15px !important;
        }
        p {
            margin: 0;
            padding: 0;
            line-height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            > svg {
                color: #a3a3a3;
                font-size: 13px;
            }
        }
    }

    button {
        width: 40px;
        height: 40px;
        font-size: 1rem;
        border-radius: 100px;
        border: 0;
        color: gray;
        background-color: transparent;
    }

    .check {
        color: #15d900;
        background-color: #10fa1026;
    }
}
.actions {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    position: absolute;
    right: 1rem;
    top: 60px;
    // top: 55px;
    // right: 1rem;

    // top: 80px;
    // left: -296px;
    border-radius: 1rem;
    overflow: hidden;
    padding-block: 0.7rem;
    background-color: rgb(241, 241, 241) !important;
    z-index: 200;
    box-shadow: 0 5px 12px rgb(136 135 135 / 50%);
    > button {
        color: rgb(29, 8, 8);
        background-color: rgb(241, 241, 241) !important;
        font-size: 1rem;
        border: 0;
        display: flex;
        gap: 10px;
        // margin: 0 auto;
        padding: 0.5rem 1rem;
        // color: rgb(39, 39, 39);
        transition: all 0.02s ease-in-out;
        // svg {
        //     -webkit-text-fill-color: transparent !important;
        //     -webkit-text-stroke: black !important; // can be any color
        // }
        > svg {
            width: 20px;
        }
        &:hover {
            background-color: var(--blue-origin) !important;
            color: white;
            svg {
                color: white;
            }
        }
        &:active {
            opacity: 0.5;
            border: 1px solid red !important;
        }
    }
}
.profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 0;
    background-color: thistle;
    background-color: rgb(221, 221, 221);
    margin: initial !important;
    margin-top: 2px !important;
}

.action {
    display: flex;
    justify-content: flex-end;
    position: relative;
    // border-top: 1px solid rgb(235, 235, 235);
    // border-block: 1px solid rgb(235, 235, 235);
    border-top: 1px solid #e4e4e4;
    .socialButton {
        &:active {
            opacity: 0.6;
        }
    }
    svg {
        font-size: 18px;
        color: rgb(39, 39, 39);
    }
    // > * {
    //     &:hover {
    //         background-color: red !important;
    //     }
    // }
    > div {
        background-color: white !important;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        height: 55px;
        border: none;
        //
        // border-top: 1px solid #dfdfdf;
        transition: background-color 0.2s ease;
        // &:active {
        //     opacity: 0.7;
        // }
        &:has(:hover) > button {
            background-color: rgb(207, 207, 207) !important;
            // outline: 1px solid var(--blue-origin) !important;
            // outline-offset: -1px;
        }
        &:has(:active) > button {
            opacity: 0.6;
        }
        > button {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            height: 55px;
            border: none;
            background-color: white !important;
        }
    }

    // > div {
    //     &:has(button:active) {
    //         // opacity: 0.5;
    //     }
    // }

    p {
        margin-left: 0.4rem;
        font-size: 16px !important;
    }
    > button:active {
        background-color: rgb(207, 207, 207);
    }
    @include mouse() {
        > button:hover {
            background-color: rgb(207, 207, 207);
        }
    }
}
