@import "../../styles/mixins";
.post {
    background-color: rgb(253, 253, 253);
    margin: 0.5rem 0;
    position: relative;
    cursor: default;
    overflow: hidden;
    // transition: border 0.2s ease-in-out, borderRadius 0.2s ease-in-out;

    .text {
        padding: 10px 0.8rem 1rem;
        margin: 0;
    }
    .header {
        // padding: 15px 1rem;
        padding: 15px 0.8rem 6px;
        // padding-top: 15px;
        margin: 0;
        // border: 1px solid red !important;
    }
    > p:active {
        background-color: rgb(207, 207, 207);
    }
}
.header {
    display: flex;
    justify-content: space-between;
    &:has(.left:active) {
        background-color: rgb(207, 207, 207);
    }
    .left {
        display: flex;
        flex: 1;
        gap: 0.5rem;
        > div > p:not(:first-child) {
            color: #4e4e4e;
            font-size: 15px;
        }
        p {
            margin: 0;
            padding: 0;
            font-size: 18px;
            line-height: 20px;
        }
        :first-child {
            font-weight: 500;
        }
    }

    button {
        width: 40px;
        height: 40px;
        font-size: 1rem;
        border-radius: 100px;
        border: 0;
        color: gray;
        background-color: transparent;
    }

    .check {
        // color: #2dc61d !important;
        // color: #31db1e;
        color: #15d900;
        background-color: #10fa1026;
    }
}
// .header-hovered {
//     background-color: green !important;
// }
.actions {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: absolute;
    top: 55px;
    right: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    padding-block: 0.7rem;
    background-color: rgb(241, 241, 241);

    > button {
        font-size: 1rem;
        border: 0;
        display: flex;
        gap: 10px;
        padding: 0.5rem 1rem;
        color: rgb(39, 39, 39);
        transition: all 0.02s ease-in-out;
        &:hover {
            background-color: var(--blue-origin);
            color: white;
        }
        &:active {
            opacity: 0.5;
            // scale: 0.9;
            // border-radius: 50px;
        }
    }
}
.profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 0;
    background-color: thistle;
    background-color: rgb(221, 221, 221);
}

.action {
    display: flex;
    align-items: center;
    svg {
        font-size: 18px;
        // color: rgb(110, 110, 110);
        // color: rgb(62 62 62);
        color: rgb(39, 39, 39);
    }
    > button {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        height: 55px;
        border: none;
        background-color: white;
        border-top: 1px solid #dfdfdf;
        transition: background-color 0.2s ease;
    }
    p {
        margin-left: 0.3rem;
        font-size: 16px !important;
    }
    > button:active {
        background-color: rgb(207, 207, 207);
    }
    @include mouse() {
        > button:hover {
            background-color: rgb(207, 207, 207);
        }
    }
}
