.post {
    background-color: rgb(253, 253, 253);
    margin          : .5rem 0;
    /* padding         : 0 1rem; */
    /* padding-top     : 1rem; */
}

.post>p {
    word-break: break-all;
    padding-bottom: 0.7rem !important;
}
.post > * {
    padding:0 1rem;
}
/* .post:is(.postHeader){
    display: none;
} */

.postContainer:first-child {
    /* background-color: red !important; */
    /* border-bottom: 2px solid #dbdbdb; */
}

.postHeader {
    display    : flex;
    align-items: center;
    gap        : .5rem;
}
.postHeader, .post>p   {
padding:15px 1rem;
margin:0;
}
.postHeader:active , .post>p:active   {
    background-color: rgb(207, 207, 207);
}

.postHeader p {
    margin   : 0;
    padding  : 0;
    font-size: 20px;
    line-height: 20px;
    
}
.postHeader >div >p:last-child{
    color: #4e4e4e;
    font-size: 15px;
}

.postContainer>p {
    margin       : 0;
    padding      : 20px 0;
    border-bottom: 2px solid #e9e9e9;

}

.profile {
    /* border:3px solid black; */
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    border          : 0;
    background-color: thistle;
    background-color: rgb(221, 221, 221);
}

.postAction {
    display           : flex;
    /* justify-content: space-between; */
    align-items       : center;
}

.postAction>button {
    display         : flex;
    flex            : 1;
    justify-content : center;
    align-items     : center;
    height          : 55px;
    border          : none;
    background-color: white;
    border-top      : 1px solid #dbdbdb;
    /* border-right : 2px solid #dbdbdb;     */
}

.postAction p {
    margin-left: .3rem;
}

.postAction>button:active {
    background-color: rgb(207, 207, 207);
}

@media only screen and (min-width: 500px) {
    .postAction>button:hover {
        background-color: rgb(207, 207, 207);
    }
}