.container {
    min-height: calc(100dvh - 140px);
    overflow: hidden;
    background-color: white;
    padding-bottom: 1rem;
    display: grid;
    align-content: center;
    ul {
        // all: unset;
        padding: 0;
        margin: 0;
        list-style: none;
        min-height: calc(100dvh - 140px);
        background: white;
        .item {
            padding: 0.8rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            &:hover {
                background-color: #efefef;
            }
            &:active {
                background-color: #e0e0e0;
            }
            > a {
                -webkit-tap-highlight-color: transparent;
                display: flex;
                flex: 1;
                align-items: center;
                img {
                    margin-bottom: auto;
                }
                .message {
                    padding: 0 5px 0 8px;
                    margin: 0;
                    font-size: 18px;
                    // margin: 5px 0;
                    word-break: break-word;
                    // margin: 5px 0;
                    // margin: 10px 0;
                    .userName {
                        font-weight: 500;
                        &:hover {
                            text-decoration: underline;
                        }
                        &:active {
                            opacity: 0.5;
                        }
                    }
                }
                @media only screen and (max-width: 600px) {
                    .message {
                        margin: 0;
                    }
                }
            }
            .profile {
                width: 45px;
                height: 45px;
                border-radius: 100%;
                object-fit: cover;
                border: 0;
                background-color: rgb(221, 221, 221);
            }
            .content {
                margin: 0;
                position: relative;
                padding-left: 8px;
                color: rgb(0, 0, 0, 0.5);
                -webkit-line-clamp: 1;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                overflow: hidden;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 2px;
                    height: 100%;
                    width: 2px;
                    background-color: rgba(0, 0, 0, 0.12);
                }
            }
            .date,
            .dateDesktop {
                color: dimgray;
                font-size: 16px;
                margin: 0;
                // margin-top: 10px;
            }
            @media only screen and (max-width: 600px) {
                .dateDesktop {
                    display: none;
                }
            }
            @media only screen and (min-width: 600px) {
                .date {
                    display: none;
                }
            }
        }
    }
}
