.container {
    .content {
        all: unset;
        list-style: none;
        .item {
            padding: 0.8rem;
            display: flex;
            justify-content: space-between;
            background-color: white;
            &:hover {
                background-color: #efefef;
            }
            &:active {
                background-color: #e0e0e0;
            }
            a {
                display: flex;
                flex: 1;
                gap: 0.5rem;
                .message {
                    margin: 0;
                    margin-top: 5px;
                    .userName {
                        font-weight: 500;
                        &:hover {
                            text-decoration: underline;
                        }
                        &:active {
                            opacity: 0.8;
                        }
                    }
                }
            }
            .profile {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 0;
                background-color: thistle;
                background-color: rgb(221, 221, 221);
                // margin: initial !important;
                // margin-top: 2px !important;
            }
            .date {
                color: dimgray;
                font-size: 16px;
                margin: 0;
                margin-top: 5px;
            }
        }
    }
}
