:root {
  --blue-origin: #0070f3;
  --main-width : 500px;
}

main {
  width          : 100vw;
  max-width      : var(--main-width);
  overflow       : auto;
  height         : 100dvh;
  scroll-behavior: smooth;
  transition     : scale 0.3s cubic-bezier(1, 0.14, 0.01, 1.09), opacity 0.3s cubic-bezier(1, 0.14, 0.01, 1.09);

}
#nprogress .bar {
  background-color: red !important;
  /* background-color: #0070f3 !important; */
}
@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loginIcon {
  padding         : 6px;
  background-color: #fff;
  border-radius   : 50%;
  display         : flex;
}


main:only-child {
  background-color: white;
}

html,
body {
  padding: 0;
  margin : 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
}

body {
  display         : flex;
  justify-content : center;
  align-items     : center;
  height          : 100%;
  background-color: rgb(214, 214, 214);
  background-color: #005cc5c0;
  background-color: rgb(184, 184, 184);

}

a {
  color          : inherit;
  text-decoration: none;
}

.githublink {
  color    : var(--blue-origin);
  position : absolute;
  bottom   : 0;
  padding  : 1rem;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

button {
  cursor                     : pointer;
  user-select                : none;
  -webkit-tap-highlight-color: transparent;
}

button:disabled {
  opacity: .5;
  cursor : not-allowed !important;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}

::-webkit-scrollbar {
  width     : 0;
  display   : none;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a0a0a0;
}