.main {
  background-color: white;
  width           : 100vw;
  max-width       : var(--main-width);
  overflow        : auto;
  height          : 100vh;
  scroll-behavior : smooth;
}

.sticky {
  position: fixed;
  width   : 100%;
  top     : 0;
}

.sticky+.content {
  padding-top: 60px;
}

.headerContainer {
  transition: all .2s ease;
}

.header {
  max-width        : var(--main-width);
  background-color : white;
  scroll-snap-align: start;
  transition       : background-color .2s ease-in-out;
}

.logoContainer {
  scroll-snap-align: start;
  display          : flex;
  align-items      : center;
  height           : 60px;
  background-color : white;
}

.logo {
  color      : var(--blue-origin);
  font-weight: bold;
  font-size  : clamp(1.8em, 2vw, 2em);
}

.nav {
  scroll-snap-align: start;
  overflow         : hidden;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  max-width        : var(--main-width);
  height           : 60px;
  transition       : all .5s ease-in-out;
}

.active {
  color: var(--blue-origin);
}

.indicatorContainer {
  height   : 6px;
  width    : 100%;
  max-width: var(--main-width);
  position : absolute;
  top      : calc(120px - 3px);
}

.nav .navItems:nth-child(1).active~.indicatorContainer .indicator {}

.nav .navItems:nth-child(2).active~.indicatorContainer .indicator {}

.indicator {
  height          : 3px;
  background-color: var(--blue-origin);
  border-radius   : 10px;
  position        : absolute;
  transform       : translateX(0px);
}

.nav>.navItems {
  background-color: rgba(255, 255, 255);
  height          : 60px;
  flex            : 1;
  font-size       : 21px;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.nav>.navItems>svg {}

.nav *:hover svg {}

@media only screen and (min-width: 500px) {
  .nav .navItems:hover {
    background-color: rgb(199, 199, 199);
  }

  .loginBtn:hover {
    background-color: #1c7ff3;
  }

  .logoutBtn:hover {
    background-color: rgb(240, 34, 34);
    background-color: rgb(226, 165, 165);
    background-color: rgb(230, 230, 230);
  }
}

.nav .navItems:active {
  background-color: rgb(199, 199, 199);
}

.content {
  background-color: #dadada;
  display         : flex;
  scroll-snap-type: x mandatory;
  overflow-x      : scroll;
  scroll-behavior : smooth;
}

.content>div {
  overflow-y       : auto;
  scroll-snap-align: center;
  scroll-snap-stop : always;
  max-width        : var(--main-width);
  min-width        : 100%;
  height           : fit-content;
}

.home {}

.add,
.profile {
  background-color: rebeccapurple;
  padding         : 2rem;
}

.profile {
  background-color: orangered;
}

.postContainer {}

.postContainer>div:last-child {
  margin-bottom: 2rem;
}

.loginBtn {
  width          : 200px;
  height         : 100px;
  padding        : 1rem;
  border         : 0;
  background     : var(--blue-origin);
  color          : white;
  font-size      : 1.5em;
  border-radius  : 20px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  margin         : auto;
  line-height    : 33px;
  position       : absolute;
  inset          : 0;
}

.logoutBtn {
  cursor          : pointer;
  color           : red;
  border-radius   : 50px;
  overflow        : auto;
  border          : none;
  text-align      : left;
  height          : 50px;
  width           : 50px;
  display         : flex;
  align-items     : center;
  justify-content : center;
  color           : rgb(245, 223, 223);
  background      : rgb(238, 51, 51);
  background      : rgb(235, 68, 68);
  background-color: transparent;
  margin          : 0 1rem;
  padding         : 0 .5rem;
  border          : 0;
}

.grid {
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-wrap      : wrap;
  max-width      : 800px;
}

.storyContainer {
  overflow-x      : scroll;
  background-color: rgb(111, 209, 204);
  background-color: rgb(255, 255, 255);
  display         : flex;
  align-items     : center;
}

.storyCards {
  overflow-x: scroll;
  display   : flex;
  gap       : 10px;
  padding   : 1rem .8rem;
}

.storyCards>div {
  scroll-snap-align: start;
}

.storyCard {
  height          : 170px;
  background-color: greenyellow;
  background-color: rgb(224, 224, 224);
  border          : none;
  min-width       : 95px;
  border-radius   : 10px;
  text-align      : left;
  overflow        : hidden;
}

.cardContainer {
  gap    : 10px;
  display: flex;
}

.storyCards .addStory {
  display        : flex;
  text-align     : center;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  font-size      : 15px;
  border         : 1px solid #e0e0e0;
}

.addStory>button {
  position        : relative;
  bottom          : -27%;
  z-index         : 100;
  margin          : auto;
  border-radius   : 50%;
  width           : 35px;
  height          : 35px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  outline         : 4px solid rgb(255, 255, 255);
  background-color: var(--blue-origin);
  border          : none;
  color           : white;
}

.storyCard:active {
  animation: card .3s ease-in-out;
}

.loginBtn:active {
  animation: card .3s ease-in-out;
}

.logoutBtn:active {
  animation: card .3s ease-in-out;
}

@keyframes card {
  0% {
    scale: 1;
  }

  50% {
    scale: .9;
  }

  100% {
    scale: 1;
  }
}

.addStory>p {
  width           : 100%;
  position        : relative;
  margin          : 0;
  display         : flex;
  justify-content : center;
  align-items     : flex-end;
  padding         : .5rem 0;
  background-color: rgb(207, 124, 124);
  background-color: rgb(255, 255, 255);
  color           : rgb(44, 44, 44);
  height          : 70px;
  font-weight     : 500;
  line-height     : 30px;
  user-select     : none;
}

.card {
  margin         : 1rem;
  padding        : 1.5rem;
  text-align     : left;
  color          : inherit;
  text-decoration: none;
  border         : 1px solid #eaeaea;
  border-radius  : 10px;
  transition     : color 0.15s ease, border-color 0.15s ease;
  max-width      : 300px;
}

.card:hover,
.card:focus,
.card:active {
  color       : var(--blue-origin);
  border-color: var(--blue-origin);
}

.card h2 {
  margin   : 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin     : 0;
  font-size  : 1.25rem;
  line-height: 1.5;
}

.logo {
  margin-left: 0.7rem;
}

@media (max-width: 600px) {
  .grid {
    width         : 100%;
    flex-direction: column;
  }

  .storyCards {}

  .storyCard>div {}
}