.main {
  background-color: white;
  background-color: rgb(214, 214, 214);
  width: 100vw;
  max-width: var(--main-width);
  overflow: auto;
  height: 100dvh;
  scroll-behavior: smooth;
}
.main:only-child {
  background-color: white;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

.headerContainer {
  transition: transform 0.2s ease, height 0.2s ease;
  will-change: transform;
  will-change: height;
}
.headerContainer .header {
  max-width: var(--main-width);
  background-color: white;
  scroll-snap-align: start;
  transition: background-color 0.2s ease-in-out;
}

.logoContainer {
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: white;
}
.logoContainer .logo {
  color: var(--blue-origin);
  font-weight: bold;
  font-size: clamp(1.6em, 2vw, 3em);
  margin-left: 0.7rem;
}

.nav {
  -webkit-tap-highlight-color: transparent;
  scroll-snap-align: start;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--main-width);
  height: 60px;
}
.nav .active {
  color: var(--blue-origin);
}
.nav .indicatorContainer {
  height: 6px;
  width: 100%;
  max-width: var(--main-width);
  position: absolute;
  top: 117px;
}
.nav .indicatorContainer .indicator {
  height: 3px;
  background-color: var(--blue-origin);
  border-radius: 10px;
  position: absolute;
  transform: translateX(0px);
  will-change: transform;
}
.nav > .navItems {
  background-color: rgb(255, 255, 255);
  height: 60px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav .navItems:active {
  background-color: rgb(199, 199, 199);
  opacity: 0.5;
}

@media only screen and (min-width: 500px) {
  .nav .navItems:hover {
    background-color: rgb(199, 199, 199);
  }
  .loginBtn:hover {
    background-color: #1c7ff3;
  }
  .logoutBtn:hover {
    background-color: rgb(230, 230, 230);
  }
}
.content {
  background-color: #dadada;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: calc(100dvh - 60px);
  transition: height 0s;
}
.content > div {
  overflow-y: auto;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  max-width: var(--main-width);
  /* width            :100vw; */
  min-width: 100%;
  /* height           : fit-content; */
}

.postContainer > div:last-child {
  margin-bottom: 2rem;
}

.loginBtn:disabled {
  pointer-events: none;
}

.loginBtn {
  cursor: pointer;
  width: 200px;
  height: 85px;
  border: 0;
  background: var(--blue-origin);
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  line-height: 33px;
  position: absolute;
  inset: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logoutBtn {
  cursor: pointer;
  color: red;
  border-radius: 50px;
  overflow: auto;
  border: none;
  text-align: left;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 223, 223);
  background: rgb(238, 51, 51);
  background: rgb(235, 68, 68);
  background-color: transparent;
  margin: 0 1rem;
  padding: 0 0.5rem;
  border: 0;
  font-size: 21px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.storyContainer {
  overflow-x: scroll;
  background-color: rgb(111, 209, 204);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}
.storyContainer .storyCards {
  overflow-x: scroll;
  display: flex;
  gap: 10px;
  padding: 1rem 0.8rem;
}
.storyContainer .storyCards > div {
  scroll-snap-align: start;
}

.storyCard {
  height: 170px;
  background-color: greenyellow;
  background-color: rgb(224, 224, 224);
  border: none;
  min-width: 95px;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
}

.cardContainer {
  gap: 10px;
  display: flex;
}

.addStory {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  border: 1px solid #e0e0e0;
}
.addStory > p {
  width: 100%;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 0;
  background-color: rgb(255, 255, 255);
  color: rgb(44, 44, 44);
  height: 70px;
  font-weight: 500;
  line-height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.addStory > button {
  position: relative;
  bottom: -27%;
  z-index: 100;
  margin: auto;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 4px solid rgb(255, 255, 255);
  background-color: var(--blue-origin);
  border: none;
  color: white;
}

.loginBtn:active,
.storyCard:active,
.logoutBtn:active {
  animation: card 0.3s ease-in-out;
}

.logoutBtn:active {
  background-color: rgb(230, 230, 230);
}

.loginBtn:active {
  outline: 4px solid #6aa6eb;
}

@keyframes card {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
.postAction {
  padding: 1rem 0.8rem;
  padding-top: 5px;
  gap: 0.8rem;
  align-items: center;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.postAction input {
  width: 100%;
  font-size: calc(10px + 1.5vmin);
  border-radius: 100px;
  border: 1px solid rgb(179, 179, 179);
  padding: 10px;
}
.postAction input:focus-visible {
  outline: 1px solid #66b5ff;
}
.postAction .addMedia {
  border-radius: 100px;
  border: 0;
  padding: 10px;
  background-color: transparent;
}
.postAction .addMedia:hover {
  background-color: rgb(216, 216, 216);
}
.postAction .addMedia:active {
  opacity: 0.8;
}
.postAction .profile {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 0;
  background-color: thistle;
  background-color: rgb(221, 221, 221);
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--blue-origin);
  border-color: var(--blue-origin);
  border: 3px solid red;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  border: 3px solid red;
}

.card p {
  margin: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  border: 3px solid red;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}/*# sourceMappingURL=Home.module.css.map */