
.container {
  border:3px solid red;
  
}

.main {
  /* scroll-snap-type: y mandatory; */
  width:100vw;
  max-width:480px;
  overflow: hidden;
  overflow-x: auto;
  overflow: auto;
  height:100vh;
  /* height:100vh; */
  /* padding: 4rem 0; */
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: #e0e0e0;
}
.header{
  /* position: fixed;
  width: 100%; */
  max-width: 480px;
  /* height:18vh; */
  /* display: flex;
  flex-direction: row; */
  /* height:60px; */
  background-color: white;
  /* border:4px solid black; */
}
.logoContainer{
  display: flex;
  align-items: center;
  height: 60px;
  /* height:9vh; */
  scroll-snap-align: start;
}
.logo{
  color:var(--blue-origin);
font-weight: bold;
font-size: 1.7em;
}
.nav{
  /* position: fixed; */
  width:100%;
/* top:0; */
  display: flex;

  align-items: center;
  justify-content: center;
  /* gap:10px; */
  /* flex-wrap: wrap; */
  /* width:500px;   */
  max-width:480px;  
  
  height:60px;
  /* height:9vh; */
  background-color: rgb(241, 30, 30);
  /* border:3px solid red; */
  /* background-color: rgb(241, 4, 4); */
  
}

/* .nav .active{
  color: var(--blue-origin);
  border-bottom: 2px solid var(--blue-origin);
} */
.active{
  color: var(--blue-origin);
  border-bottom: 2px solid var(--blue-origin);
}
.nav > .navItems  {
  background-color: rgb(255, 255, 255);
  /* display: inline-block; */
  /* height: 100%; */
  height:60px;
  /* width:auto; */
  /* width:83px; */
  flex:1;
  /* width:5.2vw;  */
  /* width:83px; */
  /* width: 100px; */
  /* color:white; */
  font-size: 24px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 2px solid rgba(192, 192, 192, 0.336); */
}
.nav > .navItems > svg {
  /* width:30px; */
}

/* .nav *:last-child{
  border:none;
} */

.nav *:hover svg{
  /* background-color: rgb(199, 199, 199); */
  
}
@media only screen and (min-width: 500px) {
  .nav .navItems:hover {
  background-color: rgb(199, 199, 199);
  
}
}

.nav .navItems:active {
   background-color: rgb(199, 199, 199);
}
.header + .content {
  /* padding-top: 60px; */
  /* padding-top: 119px; */
}
.content{
  /* display: flex; */
  /* border: 3px solid rgb(65, 8, 221); */
  /* width:100vw; */
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  /* border:3px solid red; */
  scroll-behavior: smooth;
  /* height: 853px; */
  border:3px solid blue;
  height:82vh;
  /* height: 673px; */
  /* height:100vh; */
  /* display: inline-flex; */
}
.content *{
  /* user-select: none; */
  /* width: 100vw; */
  /* flex:1;
  display: flex;
  flex-direction: column; */
  overflow-y: auto;
  /* height: 80vh; */
  /* width:100vw; */
  scroll-snap-align: center;
  scroll-snap-stop: always;
  /* height:84vh;
  height:86.4vh; */
  max-width:480px;
  min-width:100%;
  /* height:674px; */
}
.home{
  /* max-width:480px; */
  /* max-width:480px;
  width:100vw; */
}
.add , .profile{
  background-color: rebeccapurple;
  padding: 2rem;
  /* display: none; */
}
.profile{
  background-color: orangered;
}
.storyContainer{
  background-color: rgb(111, 209, 204);
  height:20vh;  
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.postContainer{
  background-color: orangered;
  /* height:100vh; */
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: var(--blue-origin);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--blue-origin);
  border-color: var(--blue-origin);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  /* height: 1em; */
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
