@import "../styles/mixins";
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

.headerContainer {
  transition:
    transform 0.18s ease,
    height 0.15s ease;
  will-change: height, transform;
  transform: translateY(0px);
  .header {
    max-width: var(--main-width);
    background-color: white;
    scroll-snap-align: start;
    transition: background-color 0.2s ease-in-out;
    .action {
      display: flex;
      // margin-right: 0.8rem;
      // gap: 0.8rem;
      gap: 0.7rem;
      margin-right: 0.7rem;
      > button {
        cursor: pointer;
        border-radius: 50px;
        overflow: auto;
        border: none;
        text-align: left;
        height: 45px;
        width: 45px;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(245, 223, 223);
        background-color: transparent;
        border: 0;
        font-size: 1rem;
        background-color: rgb(243, 243, 243);
      }
    }
  }
}

.logoContainer {
  scroll-snap-align: start;
  display: flex;
  flex: 1;
  align-items: center;
  height: 60px;
  background-color: white;
  .logo {
    color: var(--blue-origin);
    font-weight: bold;
    font-size: clamp(1.6em, 2vw, 3em);
    margin-left: 0.7rem;
  }
}

.nav {
  -webkit-tap-highlight-color: transparent;
  scroll-snap-align: start;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--main-width);
  height: 60px;
  transition: scale 0.1s ease-in-out;
  .active > div {
    color: var(--blue-origin);
  }
  .indicatorContainer {
    height: 6px;
    width: 100%;
    max-width: var(--main-width);
    position: absolute;
    top: calc(120px - 3px);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    .indicator {
      height: 3px;
      background-color: var(--blue-origin);
      border-radius: 10px;
      position: absolute;
      transform: translateX(0px);
      will-change: transform;
    }
  }
  .navItems {
    background-color: rgba(255, 255, 255);
    height: 100%;
    flex: 1;
    // font-size: 1.05rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    > div {
      height: 100%;
      flex: 1 1;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid;
    }
    &:active > div {
      background-color: rgb(199, 199, 199);
      opacity: 0.8;
      scale: 0.88;
      border-radius: 2rem;
      transition: scale 0.05s ease-in-out;
    }
  }
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
  .closeSignup {
    opacity: 1;
    background-color: var(--blue-origin);
    border: 0;
    padding: 0.5rem;
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
    height: 45px;
    // font-size: 1rem;
    border-radius: 50%;
    color: white;
    position: relative;
    opacity: 0;
    font-size: 1.8rem;
    &:active {
      opacity: 0.5 !important;
      transition: opacity 0.3s ease-in-out;
    }
  }
  .or {
    position: relative;
    user-select: none;
  }
  .emailLoginLink {
    text-decoration: underline;
    color: var(--blue-origin) !important;
    cursor: pointer;
    user-select: none;
    &:focus-visible {
      outline-color: var(--blue-origin);
    }
  }
  .Loginlabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 50px;
    // width:300px !important;
    // height: 100% !important;
    // width: 100% !important;
    font-size: 1rem;
    padding: 0;
    background-color: rgb(209, 209, 209);
    background-color: transparent;
    color: white;

    // height: 300px;
  }
  .emailLogin {
    gap: 10px;
    // padding: 0.7rem;
    color: white;
    background-color: rgb(0, 122, 246);
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 20px;
    word-break: break-word;
    white-space: nowrap;
    will-change: padding;
    -webkit-tap-highlight-color: transparent;
    min-width: 260px;
    &:has(.Loginlabel:focus) {
      outline: 2px solid var(--blue-origin);
      outline-offset: 2px;
    }
    &:focus-visible {
      outline: 1px solid black;
    }
    &:active:not(.emailForm) {
      scale: 1.1;
    }
  }
  .SecondaryloginBtn {
    z-index: 100;
  }
  .SecondaryloginBtn {
    display: flex;
    gap: 10px;

    cursor: pointer;
    // width: 300px;
    height: 75px;
    padding: 0.7rem;
    background-color: white;
    color: var(--blue-origin);
    border: 1px solid var(--blue-origin);
    font-size: 1rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 33px;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--blue-origin);
      color: white;
    }
    &:active {
      background-color: #0c60c2;
      color: white;
    }
  }
}

// @media only screen and (min-width: 500px) {
@media only screen and (hover: hover) and (pointer: fine) {
  .nav .navItems:hover > div {
    background-color: rgb(199, 199, 199);
  }

  .loginBtn:hover {
    background-color: #1c7ff3;
  }

  .action > button:hover {
    background-color: rgb(230, 230, 230) !important;
  }
}

.content {
  background-color: #dadada;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: calc(100dvh - 60px);
  transition: height 0s;
  & > div {
    overflow-y: auto;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    max-width: var(--main-width);
    min-width: 100%;
  }
}
.userContent {
  padding: 0 1rem;
  // text-align: center;
  display: grid;
  // align-content: center;
  // color: gray;
  margin-top: 65px;
  // height: calc(100vh - 65px);
}
.postContainer {
  > div,
  > div > div {
    margin: 0.5rem 0;
  }
  & > div:last-child {
    margin-bottom: 2rem;
  }
  & > p {
    text-align: center;
  }
}
.SecondaryloginBtn:disabled,
.loginBtn:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.loginBtn {
  cursor: pointer;
  // width: 300px;
  height: 75px;
  border: 0;
  background: var(--blue-origin);
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 33px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.storyContainer {
  overflow-x: scroll;
  background-color: rgb(111, 209, 204);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  .storyCards {
    cursor: default;
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    padding: 1rem 0.8rem;
    padding-bottom: 0;
    & > div {
      scroll-snap-align: start;
    }
  }
}

.storyCard {
  height: 170px;
  background-color: greenyellow;
  // background-color: rgb(224, 224, 224);
  background-color: rgb(240 240 240);
  border: none;
  min-width: 95px;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
  .storyProfile {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
    }
  }
}

.cardContainer {
  gap: 10px;
  display: flex;
}
.addStory {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  // border: 1px solid #e0e0e0;
  position: relative;
  & > p {
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem 0;
    // background-color: rgb(207, 124, 124);
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    height: 70px;
    font-weight: 500;
    line-height: 30px;
    user-select: none;
    border: 1px solid #eaeaea;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    border-top: 0;
  }
  & > button {
    position: absolute;
    /* bottom: -10%; */
    top: 50%;
    z-index: 100;
    margin: auto;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 4px solid rgb(255, 255, 255);
    background-color: var(--blue-origin);
    border: none;
    color: white;
    font-size: 16px;
  }
}

.storyCard:active,
.action > button:active {
  animation: card 0.2s ease-in-out !important;
}
// .loginBtn:active,
// .storyCard:active,
// .SecondaryloginBtn:active,
// .action > button:active {
//   animation: card 0.2s ease-in-out !important;
// }
.action > button:active {
  background-color: rgb(230, 230, 230);
}
// .loginBtn:active:has(> div.Loginlabel) {
//   // outline: 4px solid #6aa6eb;
// }

@keyframes card {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.95;
    // transform: translate3d(200, 20 ,30);
  }
  100% {
    scale: 1;
  }
}

.postAction {
  padding: 5px 0.8rem 1rem;
  gap: 1rem;
  align-items: center;
  display: flex;
  background-color: #fff;
  padding-block: 0.8rem;
  padding-top: 0.8rem;
  input {
    cursor: pointer;
    width: 100%;
    font-size: calc(12px + 1.5vmin);
    border-radius: 100px;
    border: 1px solid #b3b3b3;
    height: 40px;
    // padding-inline: 0.5rem;
    // padding-inline: 0.8rem;
    padding: 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    &:focus-visible {
      outline: 1px solid var(--blue-origin);
    }
  }
  .addMedia {
    border-radius: 100px;
    border: 0;
    background-color: transparent;
    padding: 0.5rem;
    height: 45px;
    @include mouse() {
      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
    &:active {
      opacity: 0.8;
      scale: 0.9;
      // background-color: rgb(216, 216, 216);
      background-color: rgb(240, 240, 240);
    }
    svg {
      font-size: 1rem;
    }
  }
  .profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 0;
    background-color: thistle;
    background-color: rgb(221, 221, 221);
    object-fit: cover;
  }
}
.backHeader {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  padding: 0 1rem;
  // padding-left: 10px;
  padding-left: 5px;
  height: 65px;
  width: 100vw;
  max-width: var(--main-width);
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgb(235, 235, 235);
  z-index: 100;
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block !important;
    width: 100px;

    margin-top: 0;
    margin-bottom: 0;
    flex: 1;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  svg {
    font-size: 1.2rem;
  }
  button {
    &:first-child {
      &:focus-visible {
        color: var(--blue-origin);
      }
    }
  }
  button:not(.submit) {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    @include mouse() {
      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
    &:active {
      // opacity: 0.6;
      background-color: rgb(240, 240, 240);
    }
  }
  .submit {
    background-color: rgb(0, 112, 243);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 0;
    border-radius: 1rem;
    &:hover {
      background-color: rgb(0, 112, 243, 0.8);
    }
    &:active {
      opacity: 0.6;
    }
    &:focus-visible {
      opacity: 0.8;
      outline: 2px solid var(--blue-origin);
      outline-offset: 2px;
    }
  }
}
.addPost > .input {
  padding-top: 1rem;
}
.addPost {
  margin-block: 65px;
  video,
  img {
    background-color: black;
    max-width: 100%;
    margin: 0 auto;
  }
  video {
    aspect-ratio: 16/9;
  }
  > div:nth-last-child(2) {
    margin-bottom: 65px;
  }
  img {
    object-fit: contain;
  }

  .input {
    cursor: text;
    > div {
      outline: 0;
      border: 0;
    }
  }
}

.footer {
  background-color: rgba(255, 255, 255);
  overflow: auto;
  padding: 0 1rem;
  height: 65px;
  width: 100vw;
  max-width: var(--main-width);
  padding: 0 1rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  // border-top: 1px solid rgb(235, 235, 235);
  box-shadow: rgb(0 0 0 / 17%) 0px -6px 6px -6px;
  backdrop-filter: blur(10px);
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex: 1;
  }
  button {
    border-radius: 100px;
    width: 45px;
    height: 45px;
    border: 0;
    background-color: transparent;
    background-color: rgb(240, 240, 240);
    &:hover {
      background-color: rgb(228, 228, 228);
    }
    &:active {
      opacity: 0.6;
    }
  }
  svg {
    font-size: 1rem;
  }
  select {
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    border-radius: 100px;
    // border-color: rgb(192, 192, 192);
    border: 0;
    outline: 1px solid rgb(213 213 213);

    &:focus-visible {
      outline: 0;
      background-color: var(--blue-origin);
      color: white;
    }
  }
  option {
    &:disabled {
      color: rgb(212, 212, 212);
    }
  }
}
// .addPost > a,
// .container > a {
//   -webkit-tap-highlight-color: rgba(0, 113, 243, 0.3);
//   display: flex;
//   width: 90%;
//   margin: 0 auto 1rem;
// }
.container {
  margin-block: 65px;
}
.input {
  padding: 0 0.8rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  outline: 0;
  border: 0;
  cursor: default;
  white-space: pre-line;
  word-break: break-word;
  direction: ltr;
  a {
    color: var(--blue-origin) !important;
    cursor: default;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  > div {
    outline: 0;
    border: 0;
  }
  &[contentEditable="true"] {
    a {
      cursor: text;
      pointer-events: none;
    }
  }
}
.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--blue-origin);
  border-color: var(--blue-origin);
  border: 3px solid red;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  border: 3px solid red;
}

.card p {
  margin: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  border: 3px solid red;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
