.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

.headerContainer {
  transition: transform 0.18s ease, height 0.15s ease;
  will-change: height, transform;
  transform: translateY(0px);
  .header {
    max-width: var(--main-width);
    background-color: white;
    scroll-snap-align: start;
    transition: background-color 0.2s ease-in-out;
    .action {
      display: flex;
      margin-right: 0.8rem;
      gap: 0.8rem;
      > button {
        cursor: pointer;
        border-radius: 50px;
        overflow: auto;
        border: none;
        text-align: left;
        height: 45px;
        width: 45px;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(245, 223, 223);
        background-color: transparent;
        border: 0;
        font-size: 1rem;
        background-color: rgb(243, 243, 243);
      }
    }
  }
}

.logoContainer {
  scroll-snap-align: start;
  display: flex;
  flex: 1;
  align-items: center;
  height: 60px;
  background-color: white;
  .logo {
    color: var(--blue-origin);
    font-weight: bold;
    font-size: clamp(1.6em, 2vw, 3em);
    margin-left: 0.7rem;
  }
}

.nav {
  -webkit-tap-highlight-color: transparent;
  scroll-snap-align: start;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--main-width);
  height: 60px;
  transition: scale 0.1s ease-in-out;
  .active > div {
    color: var(--blue-origin);
  }
  .indicatorContainer {
    height: 6px;
    width: 100%;
    max-width: var(--main-width);
    position: absolute;
    top: calc(120px - 3px);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    .indicator {
      height: 3px;
      background-color: var(--blue-origin);
      border-radius: 10px;
      position: absolute;
      transform: translateX(0px);
      will-change: transform;
    }
  }
  .navItems {
    background-color: rgba(255, 255, 255);
    height: 100%;
    flex: 1;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    > div {
      height: 100%;
      flex: 1 1;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid;
    }
    &:active > div {
      background-color: rgb(199, 199, 199);
      opacity: 0.8;
      scale: 0.88;
      border-radius: 2rem;
      transition: scale 0.05s ease-in-out;
    }
  }
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .SecondaryloginBtn {
    display: flex;
    gap: 10px;

    cursor: pointer;
    // width: 300px;
    height: 75px;
    padding: 0.7rem;
    background-color: white;
    color: var(--blue-origin);
    border: 1px solid var(--blue-origin);
    font-size: 1rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 33px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: var(--blue-origin);
      color: white;
    }
  }
}

// @media only screen and (min-width: 500px) {
@media only screen and (hover: hover) and (pointer: fine) {
  .nav .navItems:hover > div {
    background-color: rgb(199, 199, 199);
  }

  .loginBtn:hover {
    background-color: #1c7ff3;
  }

  .logoutBtn:hover {
    background-color: rgb(230, 230, 230) !important;
  }
}

.content {
  background-color: #dadada;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: calc(100dvh - 60px);
  transition: height 0s;
  & > div {
    overflow-y: auto;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    max-width: var(--main-width);
    min-width: 100%;
  }
  & > div:first-child {
    // padding-top: 0px;
    // transition: padding 0.18s ease;
  }
}
.userContent {
  margin-block: 65px;
  text-align: center;
  display: grid;
  align-content: center;
  color: gray;
}
.postContainer {
  & > div:last-child {
    margin-bottom: 2rem;
  }
  & > p {
    text-align: center;
  }
}
.SecondaryloginBtn:disabled,
.loginBtn:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.loginBtn {
  cursor: pointer;
  // width: 300px;
  height: 75px;
  border: 0;
  background: var(--blue-origin);
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 33px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.storyContainer {
  overflow-x: scroll;
  background-color: rgb(111, 209, 204);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  .storyCards {
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    padding: 1rem 0.8rem;
    & > div {
      scroll-snap-align: start;
    }
  }
}

.storyCard {
  height: 170px;
  background-color: greenyellow;
  // background-color: rgb(224, 224, 224);
  background-color: rgb(240 240 240);
  border: none;
  min-width: 95px;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
  .storyProfile {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
    }
  }
}

.cardContainer {
  gap: 10px;
  display: flex;
}
.addStory {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  // border: 1px solid #e0e0e0;
  position: relative;
  & > p {
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem 0;
    // background-color: rgb(207, 124, 124);
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    height: 70px;
    font-weight: 500;
    line-height: 30px;
    user-select: none;
    border: 1px solid #eaeaea;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    border-top: 0;
  }
  & > button {
    position: absolute;
    /* bottom: -10%; */
    top: 50%;
    z-index: 100;
    margin: auto;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 4px solid rgb(255, 255, 255);
    background-color: var(--blue-origin);
    border: none;
    color: white;
    font-size: 16px;
  }
}
.loginBtn:active,
.storyCard:active,
.SecondaryloginBtn:active,
.logoutBtn:active {
  animation: card 0.2s ease-in-out !important;
}
.logoutBtn:active {
  background-color: rgb(230, 230, 230);
}
.loginBtn:active {
  outline: 4px solid #6aa6eb;
}

@keyframes card {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.95;
    // transform: translate3d(200, 20 ,30);
  }
  100% {
    scale: 1;
  }
}

.postAction {
  padding: 1rem 0.8rem;
  padding-top: 5px;
  gap: 0.8rem;
  align-items: center;
  display: flex;
  background-color: rgb(255, 255, 255);
  input {
    cursor: pointer;
    width: 100%;
    font-size: calc(12px + 1.5vmin);
    border-radius: 100px;
    border: 1px solid rgb(179, 179, 179);
    padding: 10px 15px;
    &:focus-visible {
      outline: 1px solid lighten($color: rgb(0, 132, 255), $amount: 20);
    }
  }
  .addMedia {
    border-radius: 100px;
    border: 0;
    background-color: transparent;
    padding: 0.5rem;
    height: 45px;
    &:hover {
      background-color: rgb(216, 216, 216);
    }
    &:active {
      opacity: 0.8;
      scale: 0.9;
    }
    svg {
      font-size: 1rem;
    }
  }
  .profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 0;
    background-color: thistle;
    background-color: rgb(221, 221, 221);
    object-fit: cover;
  }
}
.backHeader {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  padding: 0 1rem;
  padding-left: 10px;
  height: 65px;
  width: 100vw;
  max-width: var(--main-width);
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;

  border-bottom: 1px solid rgb(235, 235, 235);
  svg {
    font-size: 1.2rem;
  }
  button:not(.submit) {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    &:hover {
      // background-color: red;
      background-color: rgb(240, 240, 240);
    }
    &:active {
      opacity: 0.6;
    }
  }
  .submit {
    background-color: rgb(0, 112, 243);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 0;
    border-radius: 1rem;
    &:hover {
      background-color: rgb(0, 112, 243, 0.8);
    }
    &:active {
      opacity: 0.6;
    }
    &:focus-visible {
      opacity: 0.6;
      outline: 2px solid var(--blue-origin);
      outline-offset: 2px;
    }
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    flex: 1;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // padding-inline: 1rem;
    // padding: 1rem;
  }
}
.title {
  // color:red;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block !important;
  width: 100px;
}
.addPost {
  .footer {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    padding: 0 1rem;
    height: 65px;
    width: 100vw;
    max-width: var(--main-width);
    padding: 0 1rem;
    /* padding-left: 10px; */
    justify-content: space-between;
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;

    border-top: 1px solid rgb(235, 235, 235);
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      flex: 1;
    }
    button {
      border-radius: 100px;
      width: 45px;
      height: 45px;
      border: 0;
      background-color: transparent;
      background-color: rgb(240, 240, 240);
      &:hover {
        background-color: rgb(228, 228, 228);
      }
      &:active {
        opacity: 0.6;
      }
    }
    svg {
      font-size: 1rem;
    }
    select {
      font-size: 1rem;
      padding: 10px;
      border-radius: 100px;
      border-color: rgb(192, 192, 192);

      &:focus-visible {
        outline: 0;
        background-color: var(--blue-origin);
        color: white;
      }
    }
    option {
      &:disabled {
        color: rgb(212, 212, 212);
      }
    }
  }
  .input {
    padding: 1rem;
    margin-block: 65px;
    > div {
      outline: 0;
      border: 0;
    }
  }
}
.input {
  padding: 1rem;
  margin-block: 65px;
  > div {
    outline: 0;
    border: 0;
  }
}
.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--blue-origin);
  border-color: var(--blue-origin);
  border: 3px solid red;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  border: 3px solid red;
}

.card p {
  margin: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  border: 3px solid red;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
